// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-headline-primary:#58e1c1;
$color-primary-light: lighten($color-headline-primary, 30%);


$color-headline-secondary: #777;
$color-link: #51ddfc;
$color-img-frame: #ccc;


// Fonts
$font-stack-primary: 'Lato', sans-serif;


// Breakpoints
$desktop-view: 768px;

// Button colors lighten
$btn-default-light: lighten(#51ddfc, 10%);
$btn-error-light: lighten(#e4757a, 10%);
$btn-info-light: lighten(#927bc1, 10%);
$btn-success-light: lighten(#63cc82, 10%);
$btn-warning-light: lighten(#fd7856, 10%);


// Button colors
$btn: (
    'default':#51ddfc,
    'error':  #e4757a,
    'info' : #927bc1,
    'success' : #63cc82,
    'warning':  #fd7856
);
      

// Theme colors
$theme: (
    'three': #deb2ee, // theme-three 
    'four': #7ee6fd, // theme-four
    'five': #88d9a0,  // theme-five
    'six': #4da2bb, // theme-six
    'seven': #ec9fa3, // theme-seven
    'eight': #fd9f85, // theme-eight
    'twelve': #80e8d1 // theme-twelve
);
