/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn{
  @include themes($btn); //button bgcolor maps
  cursor: pointer;
}

.btn-default:hover {
  background-color: $btn-default-light;
}

.btn-error:hover {
  background-color: $btn-error-light;
}

.btn-info:hover {
  background-color: $btn-info-light;
}

.btn-success:hover {
  background-color: $btn-success-light;
}

.btn-warning:hover {
background-color: $btn-warning-light;
}
